$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header{
  padding-left: 0px;
  padding-right: 0px;
}

.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 0px;
  padding-bottom: 0px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.navbar{
  float: left;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
  background-color: rgba(255,255,255,0.9);
  
}

.container.body{
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  width: 100%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background: url("../images/jumbotron/jumbo5.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 0px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    background-color: #E0FFFF;
    font-size: 16px;
    border-radius: 60px;
    //border-color: #387497;
    color: #387497;
    border-color: rgba(0,0,0,0);
    padding: 14px 24px;
    transition-duration: 0.4s;
  }
    .btn:hover {
    background-color: #387497;
    color: #E0FFFF;
  }
}

.service-glyphicon{
  color: #387497;
  font-size: 30px;
  margin: 15p;
}


.marketing {
  margin: 40px;

  p + h4 {
    margin-top: 28px;
  }
}

.panel{
/*  border: 0;
  box-shadow: none;*/
  width: 300px;
  margin:1px;
  word-wrap: break-word;
}

.service-div{
  width: auto;
}

/*.row.service-panels{
  float: none;
  margin:auto;
}*/



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .navbar{
    background-color: rgba(255,255,255,0.0);
    // background-color: rgba(255,255,255,1.0);
  }
  
  .service-glyphicon{
    color: #387497;
    font-size: 50px;
    margin: 15p;
  }
  
  .nav.navbar-nav li a{
    font-weight: bold;
    color:#E0FFFF;
    transition-duration: 0.3s;
  }
  .nav.navbar-nav li a:hover{
    background-color:#E0FFFF;
    opacity: 0.8;
  }
  
  .nav.navbar-nav .active a,
  .nav.navbar-nav .active a:hover,
  .nav.navbar-nav .active a:focus {
    background-color: #E0FFFF;
  }

  .service-title
  {
    margin-bottom: 30px;
  }
  
  
  .container {
    max-width: 1920px;
  }
  .container.service-container{
    width: 400px;
  }
  
  
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    
    margin: 0px;
    border: 0px;
  }
  /* Supporting marketing content */
  .services{
    margin:0 40px 30px 40px;

  }
  .container.service-container{
    width: inherit;
    word-wrap: break-word;
  }
  .navbar{
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  
  .row.service-panels{
    float: none;
    margin:auto;
  }
  
}
