        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">เปรียบเทียบค่าใช้จ่ายการซื้อน้ำแข็งและซื้อเครื่อง</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container">  
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"> 
                        <div class="" id="contact1">                        
                            <!--<h2>Contact form</h2>-->
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">ค่าไฟต่อหน่วย</label>
                                            <input type="text" class="form-control" id="firstname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">ราคาน้ำแข็ง</label>
                                            <input type="text" class="form-control" id="lastname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">ค่าน้ำแข็งต่อปี</label>
                                            <input type="text" class="form-control" id="email">
                                        </div>
                                    </div>
<!--                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="subject">ค่า???</label>
                                            <input type="text" class="form-control" id="subject">
                                        </div>
                                    </div>-->

                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-calculator"></i> คำนวณ</button>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
