        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">เปรียบเทียบค่าใช้จ่ายการซื้อน้ำแข็งและซื้อเครื่องผลิตน้ำแข็ง GENICE</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container"> 
              
              <h3>แนะนำรุ่นสินค้า</h3> 
              <hr>
              
                <div class="row" ng-controller="RecommendationCtrl">
                    <div class="col-md-8 col-md-offset-2"> 
                        <div class="" id="contact1">                        
                            <!--<h2>Contact form</h2>-->
                          
                            <form ng-submit="calculate()">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">ปริมาณน้ำแข็งที่ซื้อ (กก./วัน)</label>
                                            <input type="number" step="any" class="form-control" ng-model="ice_amount" ng-change="update_monthly_ice()">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">ราคาน้ำแข็ง (บาท/กก.)</label>
                                            <input type="number" step="any" class="form-control" ng-model="ice_price" ng-change="update_monthly_ice()">
                                        </div>
                                    </div>
                                  
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">ค่าน้ำแข็งต่อวัน </label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                            <h4> {{ per_day_ice_cost }} บาท </h4>
                                        </div>
                                    </div>
                                  <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">ค่าน้ำแข็งต่อเดือน</label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                            <h4> {{ per_month_ice_cost }} บาท </h4>
                                        </div>
                                    </div>
                                  
                                  
<!--                                  <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">ค่าไฟ (บาท/ยูนิต)</label>
                                            <input type="number" step="any" class="form-control" ng-model="elec_cost" ng-change="update_electricity_water_cost()">
                                        </div>
                                    </div>
                                  
                                  <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">ค่าน้ำ (บาท/ยูนิต)</label>
                                            <input type="number" step="any" class="form-control"  ng-model="water_cost" ng-change="update_electricity_water_cost()">
                                        </div>
                                    </div>-->
                                  

                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary" ng-click="showRecommendation()">แสดงรุ่นสินค้าที่เหมาะสม</button>
                                      
                                    </div>
                                  
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
                    </div>    
                </div>
          
          
          
              <h3>คำนวณจุดคุ้มทุน</h3> 
              <hr>
              
              <div class="row" ng-controller="BreakevenCtrl">
                    <div class="col-md-8 col-md-offset-2"> 
                        <div class="" id="contact1">                        
                            <!--<h2>Contact form</h2>-->
                          
                            <form ng-submit="calculate()">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">ปริมาณน้ำแข็งที่ซื้อ (กก./วัน)</label>
                                            <input type="number" step="any" class="form-control" ng-model="ice_amount" ng-change="update_monthly_ice()">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">ราคาน้ำแข็ง (บาท/กก.)</label>
                                            <input type="number" step="any" class="form-control" ng-model="ice_price" ng-change="update_monthly_ice()">
                                        </div>
                                    </div>
                                  
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">ค่าน้ำแข็งต่อวัน </label>
                                           
                                            <h4> {{ per_day_ice_cost }} บาท </h4>
                                        </div>
                                    </div>
                                  <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">ค่าน้ำแข็งต่อเดือน</label>
                                           
                                            <h4> {{ per_month_ice_cost }} บาท </h4>
                                        </div>
                                    </div>
                                  
                                  
                                  <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">ค่าไฟ (บาท/ยูนิต)</label>
                                            <input type="number" step="any" class="form-control" ng-model="elec_cost" ng-change="update_electricity_water_cost()">
                                        </div>
                                    </div>
                                  
                                  <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">ค่าน้ำ (บาท/ยูนิต)</label>
                                            <input type="number" step="any" class="form-control"  ng-model="water_cost" ng-change="update_electricity_water_cost()">
                                        </div>
                                    </div>
                                  
                                  <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="email">รุ่นเครื่องที่สนใจ</label>
                                            <select class="form-control" id="select-model" ng-options="product as product.key for product in products" ng-model="selected" ng-change="update_electricity_water_cost()">
                                          </select>
                                        </div>                            
                                                                      
                                    </div>
                                  
                                  <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="discount">ราคาเครื่อง (บาท)</label>
                                            <input type="number" step="any" class="form-control" ng-model="product_price" ng-change="update_monthly_ice()">
                                          
                                        </div>                            
                                                                      
                                    </div>   
                                  
                                  
                                  <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="discount">ส่วนลด (%)</label>
                                            <input type="number" step="any" class="form-control" ng-model="discount" ng-change="update_monthly_ice()" min="0" max="100">
                                          
                                        </div>                            
                                                                      
                                    </div>
                                  
                                  
                          
                                  <div class="col-sm-3">
                                    
                                      <div class="form-group">
                                            <label for="ice_type">ชนิดน้ำแข็ง</label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                        <h4>{{icetype}}</h4>
                                        </div>
                                  </div>
                                  
                                  <div class="col-sm-3">
                                      <div class="form-group">
                                            <label for="production-rate">กำลังผลิตต่อวัน</label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                        <h4>{{production_rate}} กก.</h4>

                                        </div>
                                    </div>

                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="email">เครื่องใช้ไฟ</label>
                                      <h4 id="daily-elec-unit"> {{daily_elec_unit}} ยูนิต/วัน </h4>
                                    </div>
                                  </div>
                                  
                                  
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="email">เครื่องใช้น้ำประปา</label>
                                      <h4 id="daily-water-unit"> {{daily_water_unit}} ยูนิต/วัน </h4>
                                    </div>
                                  </div>
                                  
                                  
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="email">ค่าไฟต่อวัน </label>
                                      
                                      <h4> {{daily_elec_cost}} บาท </h4>
                                    </div>
                                  </div>
                                  
                                  
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="email">ค่าน้ำต่อวัน</label>

                                      <h4 id="daily-water-cost"> {{daily_water_cost}} บาท </h4>
                                    </div>
                                  </div>


                                  
                                  
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="email">ค่าไฟและน้ำต่อวัน</label>
                                      <h4 id="daily-water-cost"> {{daily_utility}} บาท </h4>
                                    </div>
                                  </div>
                                  
                                  
                                               
                                  <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="email">ค่าไฟและน้ำต่อเดือน</label>
                                      <h4 id="daily-water-cost"> {{monthly_utility}} บาท </h4>
                                    </div>
                                  </div>
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label for="email">ราคาน้ำแข็งที่ประหยัดได้ต่อเดือน</label>

                                      <h4 id="daily-water-cost"> {{monthly_save}} บาท </h4>
                                    </div>
                                  </div>
                                  
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label for="email">ลูกค้าจะได้ค่าเครื่องคืนใน</label>
                                      
                                      <h4 id="daily-water-cost"> {{break_even}} เดือน </h4>
                                    </div>
                                  </div>
                                  
                                  
                                  
                                  

                                    
                                  
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
          
          
          
          
          
          
            </div>
        </div>
