        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">เปรียบเทียบค่าใช้จ่ายการซื้อน้ำแข็งและซื้อเครื่อง</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container">  
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"> 
                        <div class="" id="contact1">                        
                            <!--<h2>Contact form</h2>-->
                          
                            <form ng-submit="calculate()">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">ปริมาณน้ำแข็งที่ซื้อ (กก./วัน)</label>
                                            <input type="number" step="any" class="form-control" ng-model="ice_amount" ng-change="update_monthly_ice()">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">ราคาน้ำแข็ง (บาท/กก.)</label>
                                            <input type="number" step="any" class="form-control" ng-model="ice_price" ng-change="update_monthly_ice()">
                                        </div>
                                    </div>
                                  
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="email">ค่าน้ำแข็งต่อเดือน (บาท)</label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                            <h4> {{ per_month_ice_cost }}  </h4>
                                        </div>
                                    </div>
                                  <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">ค่าไฟ (บาท/ยูนิต)</label>
                                            <input type="number" step="any" class="form-control" ng-model="elec_cost" ng-change="update_electricity_water_cost()">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">ค่าน้ำ (บาท/ยูนิต)</label>
                                            <input type="number" step="any" class="form-control"  ng-model="water_cost" ng-change="update_electricity_water_cost()">
                                        </div>
                                    </div>
                                  
                                  <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="email">รุ่นเครื่องที่สนใจ</label>
                                            <select class="form-control" id="select-model" ng-options="product as product.key for product in products track by item.model" ng-model="selected" ng-change="update_electricity_water_cost()">
                                          </select>
                                        </div>                            
                                                                      
                                    </div>
                                  <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="email">เครื่องใช้ไฟ(ยูนิต/วัน)</label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                            <h4 id="daily-elec-unit"> {{daily_elec_unit}} </h4>
                                        </div>
                                    </div>
                                                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="email">เครื่องใช้น้ำประปา(ยูนิต/วัน)</label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                            <h4 id="daily-water-unit"> {{daily_water_unit}} </h4>
                                        </div>
                                    </div>
                                  <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="email">ค่าไฟต่อวัน (บาท)</label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                            <h4 id="daily-elec-cost"> 0 </h4>
                                        </div>
                                    </div>
                                  <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="email">ค่าน้ำต่อวัน (บาท)</label>
                                            <!--<input type="text" class="form-control" id="email">-->
                                            <h4 id="daily-water-cost"> 0 </h4>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-calculator"></i> คำนวณ</button>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
