<div class="modal-header">
    <h2>ประกาศนียบัตรที่ GEN ICE ได้รับ</h2>
  <hr>
</div>

<div class="row feature">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
  <p>
    
    <br><strong>CE</strong> คือเครื่องที่มีคุณสมบัติถูกต้องและเป็นไปตามข้อกำหนดด้านสุขภาพ ความปลอดภัย และการคุ้มครองสิ่งแวดล้อม ตามกฎหมายและกฎระเบียบที่เกี่ยวข้องของสหภาพยุโรป.
    <br><br><strong>ETL</strong> คือเครื่องที่บ่งบอกความปลอดภัยว่า เครื่องใช้ไฟฟ้าและ อิเล็กทรอนิกส์นั้นได้เป็นไปตามมาตรฐานบังคับทางด้านไฟฟ้าที่เกี่ยวข้อง ทุกประการ ของอเมริกา แคนาดา 
    <br><br><strong>RoHS</strong> คือ มาตรฐานเครื่องใช้ไฟฟ้าที่ไม่ทำร้ายสิ่งแวดล้อมที่เป็นข้อกำหนดใช้ในสหภาพยุโรป หมายความว่า ชิ้นส่วนทุกอย่างที่ประกอบเป็นเครื่องใช้ไฟฟ้านั้น ตั้งแต่แผงวงจร อุปกรณ์อิเล็กทรอนิกส์ ไปจนถึงสายไฟ จะต้องผ่านตามข้อกำหนดดังกล่าว เช่น ไม่มี สาร ตะกั่ว ปรอท แคดเมียม หรือ สารอันตราย เกินค่ามาตรฐาน ที่กำหนดไว้ 
สิทธิบัตรเฉพาะเรื่องระบบการทำน้ำแข็งกว่า 15 ฉบับ
  </p>
  </div>
  </div>
  
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>