<div class="modal-header">
    <h2>เกี่ยวกับเครื่องผลิตน้ำแข็ง Gen Ice</h2>
  <hr>
</div>

<div class="row feature">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
  <p>
    GenIce คือเครื่องทำน้ำแข็ง ที่ผลิตจากโรงานที่มีประสบการณ์ในการผลิตเครื่องทำน้ำแข็งกว่า 15 ปี  และส่งออกไปขายทั่วโลก เป็นโรงงานที่ผลิตให้กับ Brand ชั้นนำทั่วโลก ด้วยสิทธิบัตรเฉพาะ ในการคิดค้นเทคโนโลยีเฉพาะ ของระบบการทำน้ำแข็ง ที่ ผลิตน้ำแข็งได้รวดเร็ว คุณภาพ คงทน  เพราะเลือกใช้อะไหล่กว่า 80% จากยุโรป และอเมริกา  
โรงงานผลิตเครื่อง Genice คือโรงงานคุณภาพ ISO 9001 และ ใหญ่เป็น 1 ใน 3 ของประเทศจีน ที่ ผลิตเครื่องทำน้ำแข็งได้ มาตรฐาน ยุโรป และอเมริกา จนได้รับเครื่องหมายคุณภาพ CE จากยุโรป และ ETLS จากอเมริกา ทำให้ เครื่องทำน้ำแข็งเจ็นไอซ์ กล้ารับประกันเครื่องให้ท่าน 2ปี ค่าบริการ 1  ปี
  </p>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>