<div class="modal-header">
    <h2>เกี่ยวกับเครื่องทำน้ำแข็ง Gen Ice</h2>
  <hr>
</div>

<div class="row feature">
  <div class="row">
    <div class="col-md-12">
      <img src="../images/brief1.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
  <p>
    GenIce คือเครื่องทำน้ำแข็ง ที่ผลิตจากโรงานที่มีประสบการณ์ในการผลิตเครื่องทำน้ำแข็งกว่า 15 ปี  และส่งออกไปขายทั่วโลก เป็นโรงงานที่ผลิตให้กับ Brand ชั้นนำทั่วโลก ด้วยสิทธิบัตรเฉพาะ ในการคิดค้นเทคโนโลยีเฉพาะ ของระบบการทำน้ำแข็ง ที่ ผลิตน้ำแข็งได้รวดเร็ว คุณภาพ คงทน  เพราะเลือกใช้อะไหล่กว่า 80% จากยุโรป และอเมริกา  
โรงงานผลิตเครื่อง Genice คือโรงงานคุณภาพ ISO 9001 และ ใหญ่เป็น 1 ใน 3 ของประเทศจีน ที่ ผลิตเครื่องทำน้ำแข็งได้ มาตรฐาน ยุโรป และอเมริกา จนได้รับเครื่องหมายคุณภาพ CE จากยุโรป และ ETLS จากอเมริกา ทำให้ เครื่องทำน้ำแข็งเจ็นไอซ์ กล้ารับประกันเครื่องให้ท่าน 2ปี ค่าบริการ 1  ปี
  </p>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>


<div class="modal-header">
    <h2>ประกาศนียบัตรที่ GEN ICE ได้รับ</h2>
  <hr>
</div>

<div class="row feature">
  <div class="row">
    <div class="col-md-12">
      <img src="../images/certificate.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
  <p>
    
    <br><strong>CE</strong> คือเครื่องที่มีคุณสมบัติถูกต้องและเป็นไปตามข้อกำหนดด้านสุขภาพ ความปลอดภัย และการคุ้มครองสิ่งแวดล้อม ตามกฎหมายและกฎระเบียบที่เกี่ยวข้องของสหภาพยุโรป.
    <br><br><strong>ETL</strong> คือเครื่องที่บ่งบอกความปลอดภัยว่า เครื่องใช้ไฟฟ้าและ อิเล็กทรอนิกส์นั้นได้เป็นไปตามมาตรฐานบังคับทางด้านไฟฟ้าที่เกี่ยวข้อง ทุกประการ ของอเมริกา แคนาดา 
    <br><br><strong>RoHS</strong> คือ มาตรฐานเครื่องใช้ไฟฟ้าที่ไม่ทำร้ายสิ่งแวดล้อมที่เป็นข้อกำหนดใช้ในสหภาพยุโรป หมายความว่า ชิ้นส่วนทุกอย่างที่ประกอบเป็นเครื่องใช้ไฟฟ้านั้น ตั้งแต่แผงวงจร อุปกรณ์อิเล็กทรอนิกส์ ไปจนถึงสายไฟ จะต้องผ่านตามข้อกำหนดดังกล่าว เช่น ไม่มี สาร ตะกั่ว ปรอท แคดเมียม หรือ สารอันตราย เกินค่ามาตรฐาน ที่กำหนดไว้ 
สิทธิบัตรเฉพาะเรื่องระบบการทำน้ำแข็งกว่า 15 ฉบับ
  </p>
  </div>
  </div>
  
</div>





<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>