        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">ติดต่อเรา</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container">  
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"> 
                        <div class="" id="contact1">                        
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-map-marker"></i> ที่อยู่</h3>
                                    <p>บริษัท ฮกกรุ๊ป จำกัด
                                      <br>506 ถ.พระราม2 ซอย 60
                                        <br>แขวงแสมดำ เขตบางขุนเทียน 
                                        <br>กรุงเทพมหานครฯ
                                        
                                    </p>
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-phone"></i> โทรศัพท์</h3>
                                    <p class="text-muted">
                                        
                                    <br><strong>098-267-5292 (ฝ่ายขาย)</strong>
                                  
                                      
                                   <br><strong>098-367-3479 (ฝ่ายบริการ)</strong>
                                  
                                   <br><strong>02-409-2400-1  (สำนักงาน)</strong>
                                  
                                  
                                  </p>
                        
                                
                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <h3><i class="fa fa-user-circle"></i> Social Network</h3>
                                    <ul class="no-bullet-list">
                                      <li><i onclick="window.open('https://www.facebook.com/GenIceThailand/');" class="fab fa-facebook fa-lg" style="color:#3B5998; font-size:50px"></i> GenIceThailand</li>
                                      
                                  <li style="padding-top:10px"><i onclick="window.open('https://line.me/R/ti/p/%40ndz5205f');" class="fab fa-line fa-lg" style="color:#00c300; font-size:55px"></i> GENICE</li>
                                      
                                      
                                    </ul>
                                </div>
                                <!-- /.col-sm-4 -->
                            </div>
                            <!-- /.row -->
                            <hr>
                          <div class="map-responsive">
                            

                            
                            
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1938.5050914239478!2d100.42192251300385!3d13.657144384517045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2bd238dfaf5a9%3A0xf4cbf23da16d649!2sGenIce+Thailand+(Hok+Group)!5e0!3m2!1sen!2sth!4v1520999952848"  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                          </div>
                            <hr>
<!--                            <h2>Contact form</h2>
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname">Firstname</label>
                                            <input type="text" class="form-control" id="firstname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="lastname">Lastname</label>
                                            <input type="text" class="form-control" id="lastname">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <input type="text" class="form-control" id="subject">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="message">Message</label>
                                            <textarea id="message" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send message</button>
                                    </div>
                                </div>
                            </form>-->
                        </div>
                    </div>    
                </div>
            </div>
        </div>
