<div class="modal-header" style="padding-bottom: 0px">
    <h2>ชนิดของน้ำแข็ง</h2>
  <hr>
</div>

<div style="padding-top: 0px" class="row feature">
  
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/cube1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งสี่เหลี่ยม (Cube)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/cube2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px"> 
          <li>เหมาะสำหรับร้านอาหารและเครื่องดื่มค็อกเทล ทำน้ำปั่น กาแฟเย็น ชาเย็น</li>
          <li>เป็นที่นิยมใช้ในร้านอาหารชั้นนำ ร้านกาแฟ โรงแรมชั้นนำ ร้านอาหารหรู</li>
          <li>GenIce P Series  เป็นเครื่องทำน้ำแข็งสี่เหลี่ยมที่เน้นคุณภาพและราคา โดยตัวถังใช้ open mold เครื่องจึงมีรูปร่างเหมือนเครื่องยี่ห้ออื่นๆ ในตลาด แต่ระบบการทำงานนั้นเป็นการออกแบบเฉพาะของเจ็นไอซ์ และใช้อะไหล่หลักมาตรฐาน ยุโรป อเมริกา ในราคายอมเยา</li>
          <li>GenIce A Series เป็นเครื่องทำน้ำแข็งสี่เหลี่ยมที่ตัวเครื่องสวยงาม ออกแบบระบบการทำงานเพื่อเพิ่มประสิทธิภาพการทำงานให้เครื่องประหยัดไฟฟ้าและน้ำมากขึ้น แบบเป็นเอกลักษณ์เฉพาะของเจ็นไอซ์</li>
          <li><ul style="padding-left: 0px">โดยมีขนาดน้ำแข็งให้เลือก 3 ขนาด
                <li style="list-style-type: none">ขนาด half cube size 13x22x22 มิลลิเมตร</li>
                <li style="list-style-type: none">ขนาด standard cube size	22x22x22 มิลลิเมตร</li>
                <li style="list-style-type: none">ขนาด big cube size 32x32x22 มิลลิเมตร</li>
      </ul>   
          </li>
        </ul>
      
      </div>
        
           
    </div>
    
  </div>
  <hr>
  
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/bullet1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งถ้วยหลอด/น้ำแข็งกระสุน (Bullet)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/bullet2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>เหมาะสำหรับเครื่องดื่มเหล้า เบียร์ เช่นเดียวกับน้ำแข็งยูนิตและน้ำแข็งหลอด</li>
          <li>เป็นที่นิยมใช้ในร้านอาหารชั้นนำในยุโรป</li>
        </ul>
      
      </div>
    </div>
  </div>
  <hr>
  
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/granular1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งเกร็ดกรอบ (Granular)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/granular2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>เหมาะสำหรับร้านอาหาร, ร้านเครื่องดื่ม หรือ แช่อาหารสด</li>
          <li>เป็นที่นิยมใช้ในร้านอาหารประเภทไม่ขายแอลกอฮอล์ เพราะทำแข็งปนเล็ก ทำให้เครื่องดื่มเย็นเร็ว
และร้านขายอาหารทะเล เพราะสามารถใช้แช่ อาหารทะเล</li>
          <li>GenIce F Series เป็นเครื่องทำน้ำแข็งเกร็ดกรอบที่ประหยัดไฟฟ้า </li>
        </ul>
      
      </div>
    </div>
  </div>
  <hr>
  
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/flake1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งแผ่น (flake)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/flake2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>เหมาะสำหรับใช้แช่อาหารสดเท่านั้น ไม่เหมาะนำมาบริโภค</li>
          <li>เป็นที่นิยมใช้ในอุตสาหกรรมเนื้อสัตว์ ห้องเย็นแช่อาหารสดโดยเฉพาะในต่างประเทศ</li>
          <li>GenIce F Series เป็นเครื่องทำน้ำแข็งเกร็ดกรอบที่ประหยัดไฟฟ้า</li>
        </ul>
      
      </div>

    </div>
  </div>
  <hr>
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/crescent1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งพระจันทร์ (moon rock ice) หรือ crescent ice</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/crescent2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>น้ำแข็งแบบใหม่ดูทันสมัย ผลิตด้วยอุณหภูมิติดลบที่ต่ำกว่าน้ำแข็งสี่เหลี่ยม ทำให้น้ำแข็งละลายช้าเหมาะกับเครื่องดื่มที่ต้องการคงรสชาติให้อยู่ได้นาน เหมาะสำหรับโรมแรม หรือภัตตาคารชั้นนำ หรือผสมเครื่องดื่มค็อกเทล เหล้า เบียร์ รูปน้ำแข็งคล้ายพระจันทร์สวยงาม</li>
          <li>ยังไม่เป็นที่นิยมแพร่หลายในประเทศไทย</li>
        </ul>
      
      </div>
    </div>
  </div>

  
 
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>