<div class="modal-header" style="padding-bottom: 0px">
    <h2>ชนิดของน้ำแข็ง</h2>
  <hr>
</div>

<div style="padding-top: 0px" class="row feature">
  
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/cube1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งสี่เหลี่ยม (Cube)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/cube2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>เหมาะสำหรับร้านอาหารและเครื่องดื่มค็อกเทล ทำน้ำปั่น กาแฟเย็น ชาเย็น</li>
          <li>เป็นที่นิยมใช้ในร้านอาหารชั้นนำ ร้านกาแฟ โรงแรมชั้นนำ ร้านอาหารหรู</li>
        </ul>
      
      </div>
    </div>
  </div>
  <hr>
  
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/bullet1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งถ้วยหลอด/น้ำแข็งกระสุน (Bullet)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/bullet2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>เหมาะสำหรับเครื่องดื่มเหล้า เบียร์ เช่นเดียวกับน้ำแข็งยูนิตและน้ำแข็งหลอด</li>
          <li>เป็นที่นิยมใช้ในร้านอาหารชั้นนำในยุโรป</li>
        </ul>
      
      </div>
    </div>
  </div>
  <hr>
  
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/granular1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งเกร็ดกรอบ (Granular)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/granular2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>เหมาะสำหรับร้านอาหาร, ร้านเครื่องดื่ม หรือ แช่อาหารสด</li>
          <li>เป็นที่นิยมใช้ในร้านอาหารประเภทไม่ขายแอลกอฮอล์ เพราะทำแข็งปนเล็ก ทำให้เครื่องดื่มเย็นเร็ว
และร้านขายอาหารทะเล เพราะสามารถใช้แช่ อาหารทะเล</li>
        </ul>
      
      </div>
    </div>
  </div>
  <hr>
  
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/flake1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งแผ่น (flake)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/flake2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>เหมาะสำหรับใช้แช่อาหารสดเท่านั้น ไม่เหมาะนำมาบริโภค</li>
          <li>เป็นที่นิยมใช้ในอุตสาหกรรมเนื้อสัตว์ ห้องเย็นแช่อาหารสดโดยเฉพาะในต่างประเทศ</li>
        </ul>
      
      </div>
    </div>
  </div>
  <hr>
  
  <div class="row">
    <div class="row">
      <div class="col-md-1" style="padding-right: 0px">
        <img style="height: 30px" src="../images/crescent1.png">
      </div>
      <div style="padding-left: 0px" class="col-md-10">
        <h3>น้ำแข็งหลังเต่า (Crescent)</h3>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="../images/crescent2.png">
      </div>
      <div class="col-md-8">
        <ul style="padding-left: 0px">
        <li>เหมาะสำหรับโรมแรม หรือภัตตาคารชั้นนำ หรือผสมเครื่องดื่มค็อกเทล เหล้า เบียร์ รูปร่างสวยงาม</li>
          <li>ยังไม่เป็นที่นิยมแพร่หลายในประเทศไทย</li>
        </ul>
      
      </div>
    </div>
  </div>

  
 
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>