<div class="modal-header">
    <h2>เครื่องผลิตน้ำแข็ง Gen Ice มีระบบการทำงานที่ดูแลสะดวก ง่ายดาย</h2>
  <hr>
</div>

<div class="row feature" style="padding-top: 10px">
  <div class="row">
    <div class="col-md-12">
      <img src="../images/machine1.png" class="center-block">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>เครื่องเจ็นไอซ์ มีระบบการทำงานที่ดูแลสะดวก ง่ายดาย</h3>
  <ul>
    <li> ด้วยการทำความสะอาดแผ่นกรองอากาศได้เอง</li>
    <li> กดปุ่ม clean เพื่อให้น้ำล้างระบบของเครื่อง</li>
    <li> มีหน้าจออัฉจริยะบอกอาการของเครื่องหากเครื่องมีปัญหา ทำให้แก้ปัญหาได้รวดเร็ว</li>
    <li> สามารถใส่หลอด UV เพื่อฆ่าเชื้อโรคในถังเก็บน้ำแข็งได้</li>
    <li> เครื่องเจ็นไอซ์เลือกใช้วัสดุ ที่ปลอดภัยต่อผู้บริโภค และสิ่งแวดล้อม</li>
    <li> เครื่องเจ็นไอซ์ได้ออกแบบระบบการผลิตน้ำแข็งที่ มีประสิทธิภาพ ดีเยี่ยม</li>
  </ul>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>