        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">ร่วมงานกับเรา</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
  <div class="services">
    <div class="container">
      <h2>ตำแหน่ง</h2>
      <hr>
      <div class="col-md-6">
        <img src="../images/career-min.jpg" class="img-responsive">
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque</p>-->
      </div>

      <div class="col-md-6">
        <div class="media">
          <ul>
            <li>
              <div class="media-left">
                <i class="fa fa-briefcase"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Salesperson</h4>
                <p>หากท่านมีความสามารถในการเจรจาธุรกิจ และต้องการร่วมทีมกับเรา ท่านสามารถติดต่อเราได้ตลอดเวลาผ่านทางอีเมล์ info@hokgroup.co.th</p>
              </div>
            </li>
<!--            <li>
              <div class="media-left">
                <i class="fa fa-certificate"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">ผ่านมาตรฐานรับรองสากล</h4>
                <p>ผลิตจากโรงงานผลิตเครื่องทำน้ำแข็งชั้นนำ ที่ผลิตให้ brand สินค้าชั้นนำทั่วโลก โรงงานได้ผ่านมาตรฐานรับรองได้ตราเครื่องหมาย CE จากยุโรป และ ETL / ETL-S จากอเมริกา ซึ่งเป็นเพียง 1 ใน 3 โรงงานของจีนที่ได้มาตรฐาน ตราสัญญาลักษณ์รับรอง ETL/ETL-S</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <i class="fa fa-thermometer-quarter"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">ผลิตน้ำแข็งได้รวดเร็ว</h4>
                <p>การผลิตน้ำแข็งที่รวดเร็ว สามารถปรับขนาดของน้ำแข็งให้มีขนาดหนาบางตามที่ต้องการได้</p>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
