<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid</a></p>

</div>

<div class="row services">
  <div class="container-fluid text-center">
    <h3>Our services</h3>
    
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 center-block">
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <div class="row justify-content-center">
                <span class="glyphicon glyphicon-piggy-bank service-glyphicon" aria-hidden="true">
                </span>
              </div>
              <div class="row">
                <h4>Save</h3>
              </div>
              <div class="row service-description">
                <div class="container service-container">
                  get up to a 20% discount from your next purchase.
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-4 center-block">
        <div class="panel panel-default center-block">
          <div class="panel-body text-center">
            <div class="row justify-content-center">
              <span class="glyphicon glyphicon-piggy-bank service-glyphicon" aria-hidden="true">
              </span>
            </div>
            <div class="row">
              <h4>Save</h3>
            </div>
            <div class="row service-description">
              <div class="container service-container">
                get up to a 20% discount from your next purchase.
              </div>
            </div>  
            
          </div>
        </div>
        </div>
                <div class="col-md-4 center-block">
            <div class="panel panel-default">
              <div class="panel-body text-center">
                <div class="row justify-content-center">
                  <span class="glyphicon glyphicon-piggy-bank service-glyphicon" aria-hidden="true">
                        </span>
                </div>
                <div class="row">
                  <h4>Save</h3>
                </div>
                <div class="row service-description">
                  <div class="container service-container">
                    get up to a 20% discount from your next purchase.
                  </div>
                </div>            
              </div>
            </div>
        </div>
    </div>
  <hr class="">
</div>


<div class="contianer-fluid">
  <div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>
</div>