

<div class="Welcome-area">

  <div class="feature">
    <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>บริการของเรา</h2>
                        
                    </div>
                </div>
    <div class="container">
      <div class="text-center">
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow">
            <!--<i class="feature-fa fa fa-address-book"></i>-->
            <img src="../images/gen-ice-thumb-40px.png" class="feature-fa" ng-click="featuredThumbsClicked(1)"/>
            <h2>ความเป็นมา</h2>
            <p ng-click="featuredThumbsClicked(1)">GenIce (เจ็นไอซ์) คือเครื่องทำน้ำแข็ง ที่ผลิตจากโรงานที่มีประสบการณ์ในการผลิตเครื่องทำน้ำแข็งกว่า 15 ปี (อ่านต่อ)</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow ">
            <i class="feature-fa fas fa-cubes" ng-click="featuredThumbsClicked(2)"></i>
            <h2>ชนิดของน้ำแข็ง</h2>
            <p ng-click="featuredThumbsClicked(2)">น้ำแข็งมีหลายชนิดมากมาย เช่น สี่เหลี่ยม เกล็ดกรอบ ถ้วยหลอด น้ำแข็งแผ่น ใช้งานที่แตกต่างกัน(อ่านต่อ)</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow ">
            <i class="feature-fa fas fa-hand-peace" ng-click="featuredThumbsClicked(4)"></i>
            <h2>รับประกันนาน 2 ปี</h2>
            <p ng-click="featuredThumbsClicked(4)">เครื่องเจ็นไอซ์ รับประกันสินค้านานถึง 2 ปีพร้อมบริการหลังการขาย (อ่านต่อ)</p>
          </div>
        </div>
        
        
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow ">
            <i class="feature-fa fas fa-users" ng-click="featuredThumbsClicked(3)"></i>
            <h2>ทีมบริการ</h2>
            <p ng-click="featuredThumbsClicked(3)">เครืองเจ็นไอซ์ มีทีมบริการดูแลซ่อมบำรุงเครื่อง หากสินค้าเกิดปัญหาขัดข้องหรือชำรุด ทั่วประเทศ (อ่านต่อ)</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>

        <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>สินค้ายอดนิยม</h2>
                      <br><br>
<!--                        <p>Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies . </p>-->
                    </div>
                </div>

              
              
        
              
              <div class="row">
                    <div class="proerty-th">
                        <div class="col-sm-4 col-md-3 p0" ng-repeat="(key, value) in products">
                            <div class="box-two proerty-item ">
                                <div class="item-thumb">
                                    <a ng-href="#!/product/{{value.model}}"><img src="{{value.imageurl}}"></a>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a ng-href="#!/product/{{value.model}}">{{value.model}}</a></h5>
                                    <div class="dot-hr"></div>  
                                    <!--<span class="proerty-price pull-right">฿{{value.price}}</span>-->
                                  <img src="{{value.iceiconurl}}">น้ำแข็ง{{value.icetype}}
                                
                                </div>
                            </div>
                        </div>
                                   <div class="col-sm-4 col-md-3 p0">
                            <div class="box-tree more-proerty text-center">
                                <div class="item-tree-icon">
                                  <a ng-href="#!/store" style="color:#777"><i class="fa fa-th"></i></a>
                                </div>
                                <div class="more-entry overflow">
                                    <h5><a ng-href="#!/store" >ไม่พบสินค้าที่ถูกใจใช่หรือไม่?</a></h5>
                                    <!--<h5 class="tree-sub-ttl">ดูสินค้าทั้งหมด</h5>-->
                                  <button class="btn border-btn more-black" value="All products"><a ng-href="#!/store">ดูสินค้าทั้งหมด</a></button>
                                </div>
                            </div>
                        </div>
            


                    </div>
              </div>
              
              
              
              
              
            </div>
        </div>