
<div class="Welcome-area">

  <div class="feature">
                    <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Our services</h2>
                        
                    </div>
                </div>
    <div class="container">
      <div class="text-center">
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="500" data-wow-delay="100ms">
            <i class="feature-fa fa fa-book"></i>
            <h2>Full Responsive</h2>
            <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="500" data-wow-delay="200ms">
            <i class="feature-fa fa fa-laptop"></i>
            <h2>Free Trial</h2>
            <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="500" data-wow-delay="300ms">
            <i class="feature-fa fa fa-heart-o"></i>
            <h2>Friendly Staff</h2>
            <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="500" data-wow-delay="400ms">
            <i class="feature-fa fa fa-cloud"></i>
            <h2>Online support</h2>
            <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

        <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Top products</h2>
                        <p>Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies . </p>
                    </div>
                </div>

                <div class="row">
                    <div class="proerty-th">
                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="" ><img src="../images/snooker-1.jpg"></a>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="" >place holder</a></h5>
                                    <div class="dot-hr"></div>  
                                    <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="" ><img src="../images/snooker-1.jpg"></a>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="" >place holder</a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="" ><img src="../images/snooker-1.jpg"></a>

                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="" >place holder</a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="" ><img src="../images/snooker-1.jpg"></a>

                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="" >place holder</a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="" ><img src="../images/snooker-1.jpg"></a>

                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="" >place holder</a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="" ><img src="../images/snooker-1.jpg"></a>

                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="" >place holder</a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="" ><img src="../images/snooker-1.jpg"></a>

                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="" >place holder</a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-tree more-proerty text-center">
                                <div class="item-tree-icon">
                                  <i class="fa fa-th"></i>
                                </div>
                                <div class="more-entry overflow">
                                    <h5><a ng-href="#!/store" >Want to see more ?</a></h5>
                                    <h5 class="tree-sub-ttl">Show all products</h5>
                                  <button class="btn border-btn more-black" value="All products"><a ng-href="#!/store">All products</a></button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>