<div class="modal-header" style="padding-bottom: 0px">
    <h2>ชิ้นส่วนนำเข้าของเครื่องผลิตน้ำแข็ง GenIce</h2>
  <hr>
</div>

<div style="padding-top: 0px" class="row feature">
  
  
  <div class="row">
            <div class="col-sm-4 col-md-4">
                            <div class="proerty-item ">
                                <div class="item-thumb">
                                   <img src="../images/part2.png" class="center-block">
                                </div>
                                <div class="item-entry overflow">
                                    <h5 style="text-align: center">ตัวบล็อกทำน้ำแข็งทำจากวัสดุที่นำความร้อนความเย็นดีเยี่ยม ทำให้ขึ้นรูปน้ำแข็งได้รวดเร็ว</h5>
                                    
                                </div>
                            </div>
                        </div>
       <div class="col-sm-4 col-md-4">
                            <div class="proerty-item ">
                                <div class="item-thumb">
                                   <img src="../images/part4.png" class="center-block">
                                </div>
                                <div class="item-entry overflow">
                                    <h5 style="text-align: center">พัดลมระบายความร้อน EBM ที่มีคุณภาพสูง</h5>
                                    
                                </div>
                            </div>
                        </div>
       <div class="col-sm-4 col-md-4">
                            <div class="proerty-item ">
                                <div class="item-thumb">
                                   <img src="../images/part1.png" class="center-block">
                                </div>
                                <div class="item-entry overflow">
                                    <h5 style="text-align: center">คอมเพรสเซอร์ยี่ห้อชั้นนำจากเยอรมัน มีประสิทธิภาพสูงและประหยัดไฟ</h5>
                                    
                                </div>
                            </div>
                        </div>
     </div>
    <div class="row">

       <div class="col-sm-4 col-md-4">
   
                            <div class="proerty-item ">
                                <div class="item-thumb">
                                   <img src="../images/part6.png" class="center-block">
                                </div>
                                <div class="item-entry overflow">
                                    <h5 style="text-align: center">คอนโทรลบอร์ดควบคุมการทำงาน ของเครื่องได้อย่างแม่นยำเที่ยงตรง</h5>
                                    
                                </div>
                            </div>
                        </div>
    
           <div class="col-sm-4 col-md-4">
                            <div class="proerty-item ">
                                <div class="item-thumb">
                                   <img src="../images/part5.png" class="center-block">
                                </div>
                                <div class="item-entry overflow">
                                    <h5 style="text-align: center">วาล์วควบคุมน้ำเข้าคุณภาพสูงจาก Invensys</h5>
                                    
                                </div>
                            </div>
                        </div>
    
    
       <div class="col-sm-4 col-md-4">
                            <div class="proerty-item ">
                                <div class="item-thumb">
                                   <img src="../images/part3.png" class="center-block">
                                </div>
                                <div class="item-entry overflow">
                                    <h5 style="text-align: center">Expansion valve ยี่ห้อ Danfoss</h5>
                                    
                                </div>
                            </div>
                        </div>
     
    
  </div>
    

  
 
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>