<div class="modal-header">
    <h2>ทีมบริการเครื่องทำน้ำแข็ง GenIce (เจ็นไอซ์)</h2>
  <hr>
</div>

<div class="row feature" style="padding-top: 0px">
  <div class="row">
    <div class="row">
    <div class="col-md-6 ">
      <img src="../images/support2.png" class="center-block">
    </div>
    <div class="col-md-6">
      <img src="../images/support.png" style="height: 200px" class="center-block">
      </div>

  </div>
  <div class="row">
    <div class="col-md-12">
  <p>
    
   เจ็นไอซ์ มีผู้เชี่ยวชาญด้านซ่อมบำรุง เครื่องเย็นมานานกว่า 5 ปี เป็นศูนย์บริการดูแลหลังการขายของเครื่องทำน้ำแข็งเจ็นไอซ์  เรามีทีมซ่อมบำรุง ที่มีทักษะ ฝีมือ ความเชี่ยวชาญ ในการดูแลและบริการ เครื่องทำน้ำแข็ง  แบบมืออาชีพ ที่ทำให้ลูกค้า เจ็นไอซ์ มั่นใจได้ว่า เราจะดูแลเครื่องทำน้ำแข็ง ตลอดอายุการใช้งานของเครื่อง เจ็นไอซ์ ด้วยพนักงานที่มีประสบการณ์ การดูแล มากกว่า 5 ปี และเรามีศูนย์บริการทั่วประเทศ
  </p>
  </div>
  </div>
    <div class="row">
    <div class="col-md-12"></div>

  </div>
  
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>