<div class="modal-header">
    <h2>การรับประกันสินค้า</h2>
  <hr>
</div>

<div class="row feature" style="padding-top: 0px">


  <div class="row">
    <div class="col-md-12">
  <p>
    
    เจ็นไอซ์ (GenIce) มีความมุ่งมั่นในการนำเสนอและพัฒนาผลิตภัณฑ์ที่มีคุณภาพ รวมทั้งสร้างความอุ่นใจสบายใจให้แก่ผู้ซื้อด้วยการรับประกันสินค้าอะไหล่ 2 ปี รับประกันค่าแรง 1 ปี นับจากวันที่ผู้ซื้อรับสินค้า โดยรายละเอียดการรับประกันมีดังต่อไปนี้
ความเสียหายเกิดจากการชำรุดบกพร่องจากการผลิต ภายใต้การใช้งานปกติ
การแก้ไข ดัดแปรงใดๆ ที่ไม่ได้กระทำโดยช่างจากเจ็นไอซ์ หรือช่างที่ได้รับการรับรองจากเจ็นไอซ์ มีผลทำให้การรับประกันสินค้าสิ้นสุดลงทันที
หากเครื่องเกิดบกพร่องในระยะเวลารับประกัน บริษัทจะจัดให้มีน้ำแข็งเพื่อใช้งานระหว่างรอซ่อ
โปรแกรมขยายเวลารับประกัน (warranty extension)
  </p>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">
      <img src="../images/warranty.png" class="center-block">
    </div>

  </div>
  
  
  
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">ปิด</button>
</div>