        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">ทำไมถึงต้องเป็น Gen Ice?</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->





  <div class="services">
    <div class="container">
      <h3>จุดเด่นของเรา</h3>
      <hr>
      <div class="col-md-6">
        <img src="../images/world-wide.jpg" class="img-responsive">
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque</p>-->
      </div>

      <div class="col-md-6">
        <div class="media">
          <ul>
            <li>
              <div class="media-left">
                <i class="fa fa-globe"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">ชิ้นส่วนนำเข้า</h4>
                <p>เครื่องทำน้ำแข็ง GenIce เลือกใช้อุปกรณ์หลัก 80% เป็นชิ้นส่วนนำเข้าจาก อเมริกา อิตาลี และ เยอรมัน</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <i class="fa fa-certificate"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">ผ่านมาตรฐานรับรองสากล</h4>
                <p>ผลิตจากโรงงานผลิตเครื่องทำน้ำแข็งชั้นนำ ที่ผลิตให้ brand สินค้าชั้นนำทั่วโลก โรงงานได้ผ่านมาตรฐานรับรองได้ตราเครื่องหมาย CE จากยุโรป และ ETL / ETL-S จากอเมริกา ซึ่งเป็นเพียง 1 ใน 3 โรงงานของจีนที่ได้มาตรฐาน ตราสัญญาลักษณ์รับรอง ETL/ETL-S</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <i class="fa fa-thermometer-quarter"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">ผลิตน้ำแข็งได้รวดเร็ว</h4>
                <p>การผลิตน้ำแข็งที่รวดเร็ว สามารถปรับขนาดของน้ำแข็งให้มีขนาดหนาบางตามที่ต้องการได้</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-services">
    <div class="container">
      <div class="col-md-6">
        <div class="media">
          <ul>
            <li>
              <div class="media-left">
                <i class="fa fa-wrench"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">การรับประกันสินค้า</h4>
                <p>เรากล้ารับประกันตัวเครื่อง 2 ปี และบริการหลังการขายนาน 1 ปี โดยหากชำรุดสามารถเปลี่ยนอะไหล่ได้ทันที ไม่ต้องรอซ่อม</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <i class="fa fa-coffee "></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">สินค้าคงทนและสวยงาม</h4>
                <p>เครื่องทำน้ำแข็ง GenIce มีความทนทาน ปลอดภัย และที่สำคัญประหยัดไฟและสวยงาม ทำให้ร้านอาหารหรือร้านกาแฟท่านดูดี และเครื่องสามารถผลิตน้ำแข็งได้ตามต้องการอย่างสม่ำเสมอ</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <i class="fa fa-check-square"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">สินค้าผ่านการจดสิทธิบัตร</h4>
                <p>จดสิทธิบัตรนวัตกรรมเฉพาะกว่า 19 ฉบับของระบบทำน้ำแข็ง เช่น ระบบทำความเย็น, ระบบไหลเวียนการใช้น้ำในการทำแข็ง, การวางและออกแบบระบบระบายความร้อน</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <img src="../images/coffee-shop-min.jpg" class="img-responsive">
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque</p>-->
      </div>
    </div>
  </div>
