        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">ทำไมถึงต้องเป็น เครื่องผลิตน้ำแข็ง GENICE?</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->





  <div class="services">
    <div class="container">
      <h3>จุดเด่นของเรา</h3> 
      
      <div class="col-md-6">
        <div class="row">
                <img src="../images/factory.png" class="img-responsive">
        </div>
        <div class="row" style="padding-top:15px">
          <img src="../images/factory2.png" class="img-responsive">
        </div>


      </div>
      


      <div class="col-md-6">
        <div class="media">
          <ul>
            
            <li>
              <div class="media-left">
                 <img src="../images/icon-2year.png" >
                                                     
                                     
              </div>
              <div class="media-body" >
                <h4 class="media-heading" ng-click="">รับประกัน 2 ปี</h4>
                <p>เราใช้อุปกรณ์ อะไหล่ คุณภาพมาตรฐาน ยุโรปและอเมริกา ทำให้เรากล้ารับประกันตัวเครื่องอะไหล่ 2 ปี
ค่าแรงบริการ 1 ปี โดยหากอะไหล่ชำรุดสามารถเปลี่ยนอะไหล่ได้ทันที ไม่ต้องรอซ่อม</p>
              </div>
            </li>
            
            
                        <li>
              <div class="media-left">
                 <img src="../images/icon-free.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Free อุปกรณ์ติดตั้ง</h4>
                <p>เราฟรีอุปกรณ์การติดตั้งเครื่องผลิตน้ำแข็ง GenIce ให้ฟรี สายไฟ ท่อน้ำ 5 เมตร ฟรีเครื่องกรองน้ำ 3 ขั้นตอน</p>
              </div>
            </li>
            
            
            
            <li>
              <div class="media-left">
                 <img src="../images/icon-globe.png" >
              </div>
              <div class="media-body">
                <h4 class="media-heading">ชิ้นส่วนนำเข้ามาตรฐาน ยุโรป อเมริกา</h4>
                <p ng-click="featuredThumbsClicked(1)">เครื่องผลิตน้ำแข็ง GenIce เลือกใช้อุปกรณ์หลัก 80% เป็นชิ้นส่วนนำเข้าจาก อเมริกา อิตาลี และ เยอรมัน (คลิกเพื่ออ่านต่อ)</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="sub-services">
    <div class="container">
      <div class="col-md-6">
        <div class="media">
          <ul>
            <li>
              <div class="media-left">
                 <img src="../images/icon-machine.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading" >สะดวก และอัจฉริยะ</h4>
                <p ng-click="featuredThumbsClicked(2)">เครื่องเจ็นไอซ์ มีระบบการทำงานที่ดูแลสะดวก ง่ายดาย  (คลิกเพื่ออ่านต่อ)</p>
                
              </div>
            </li>
            <li>
              <div class="media-left">
                 <img src="../images/icon-time.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading">ผลิตน้ำแข็งได้รวดเร็วประหยัด</h4>
                <p>การผลิตน้ำแข็งที่รวดเร็ว ใช้เวลาเพียง 16-22 นาที ต่อรอบ ขึ้นอยู่กับรุ่นเครื่อง
สามารถปรับขนาดของน้ำแข็งให้มีขนาดหนาบางตามที่ต้องการได้ ต้นทุนค่าน้ำแข็งต่อกิโลประมาณ
50-80 สตางค์</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <img src="../images/icon-quality.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading">สินค้าได้จดสิทธิบัตรเฉพาะมากมาย</h4>
                <p>เครื่องได้จดสิทธิบัตรนวัตกรรมเฉพาะกว่า 19 ฉบับของระบบทำน้ำแข็ง เช่น ระบบทำความเย็น,
ระบบไหลเวียนการใช้น้ำในการทำแข็ง, การวางและออกแบบระบบระบายความร้อน
,การทำระบบล้างเครื่อง เป็นต้น</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <img src="../images/randd.JPG" class="img-responsive">
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque libero,
          pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque</p>-->
      </div>
    </div>
  </div>
